body{
    color:aquamarine;
    background-color: #3aafab;
    font: normal 18px "Fira Sans","Helvetica Neue",sans-serif;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 10px auto 10px auto;
}
/* 
* significa que se le aploca a todo la propiedad que se especifica
*/
.container *{
    box-sizing: border-box;

}

.flex-outer,
.flex-inner{
    list-style-type: none;
    padding: 0;
    border:0;
  
}

.flex-outer{
    max-width: 800px;
    margin:0 auto;
}

.flex-outer li,.flex-inner{
    display: flex;
  flex-wrap:  wrap;
  align-items:center;
}
/*
> se le aplica a todos los hijos de la clase felx outer 
> li a todos los qie son hijos de la clase flex outer 
*/
.flex-outer > li:not(:last-child){
 margin-bottom: 20px;
}

.flex-inner{
    padding: 0 9px;
    justify-content: space-evenly;

}

.flex-outer li label,
.flex-outer li p{
    text-transform: uppercase;
    padding:8px;
    font-weight: 300
}

.flex-outer >li >label,
.flex-outer li  p{
    flex: 1 0 120px;
    max-width:200px ;

}
.flex-outer >li >label +*,
.flex-inner{
    flex:1 0 220px
}

.flex-outer li input:not([type='checkbox'])
.flex-outer li  textarea{
    padding: 15px;
    border:none;
}

.flex-outer li button{
    background-color: gray;
    color:white;
    margin:auto;
    padding:8px 16px;
    text-transform:uppercase;
    border-radius: 100px;
    letter-spacing:.09em;
}

body{
   align-items: center;
}